/* MAIN BACK */

#back-top-mar{
    width: 100%;
    background-image: url("images/back-maroc-top.jpg");
    background-size: 100%;
}

body{
    background-color: #C2162D;
}

/* HR */

.mar-hr{
    width: 50%;
    height: 3px;
    color: rgb(0, 0, 0);
    background-color: black;
    border: rgb(0, 0, 0) solid 2px;
    margin-left: 25%;
    margin-bottom: 5%;
}

/* BANNER */

#r-banner-mar img{
    width: 100%;
    border: rgb(0, 0, 0) outset 3px;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Articles */

#r-titre-mar{
    background-size: 100%;
}

#r-titre-mar h1{
    font-size: 5em;
    text-align: center;
    font-family: 'Merienda', cursive;
    padding-top: 3%;
    margin-bottom: 1%;
}

#r-container-mar-art-1{
    display: flex;
    width: 100%;
    padding-bottom: 10%;
}

p{
    font-family: 'Merienda', cursive;
}

#r-sous-container-mar-1{
    width: 20%;
    border: black solid 5px;
    background-color: rgba(228, 228, 228, 0.753);
    margin-left: 7%;
    height: 70%;
    margin-top: 5%;
    box-shadow: rgb(53, 53, 53) 0 0 100px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#r-sous-container-mar-1:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
    background-color: rgba(240, 238, 238, 0.651);
}

#r-sous-container-mar-1 p{
    font-size: 1.3em;
    padding: 5%;
}

#r-sous-container-mar-2{
    width: 60%;
    margin-left: 9%;
    margin-top: 2%;
}

#r-sous-container-mar-2 iframe{
    width: 100%;
    border: black outset 3px;
    border-radius: 15px;
    box-shadow: black 0 0 100px;
    height: 110%;
}

#r-container-mar-art-2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.r-mar-article-2{
    width: 20%;
    border: black solid 5px;
    background-color: rgba(228, 228, 228, 0.753);
    margin-left: 7%;
    height: 70%;
    margin-top: 2%;
    padding: 3%;
    text-align: center;
    box-shadow: rgb(53, 53, 53) 0 0 100px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.r-mar-article-2:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
    background-color: rgba(240, 238, 238, 0.651);
}

#r-mar-article-2-1{
    font-size: 1.32em;
}

#r-mar-article-2-2{
    font-size: 1.006em;
}

#r-mar-article-2-3{
    font-size: 0.930em;
}

#mar-hr-2{
    margin-top: 5%;
}

/* Caroussel */

/* external css: flickity.css */

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery {
    background-image:radial-gradient(#C2162D,rgb(138, 82, 36));
}

#gallery-cell-1 {
    width: 70%;
    height: 700px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    background-image: url("images/maroc-carou-1.jpg");
    background-size: 100%;
}

#gallery-cell-2 {
    width: 70%;
    height: 700px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    background-image: url("images/maroc-carou-2.jpg");
    background-size: 100%;
}

#gallery-cell-3 {
    width: 70%;
    height: 700px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    background-image: url("images/maroc-carou-3.jpg");
    background-size: 100%;
}

#gallery-cell-4 {
    width: 70%;
    height: 700px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    background-image: url("images/maroc-carou-4.jpg");
    background-size: 100%;
}

#gallery-cell-5 {
    width: 70%;
    height: 700px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    background-image: url("images/maroc-carou-5.jpg");
    background-size: 100%;
}

.flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus { outline: none; }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: white;
    background: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .flickity-prev-next-button:hover { background: white; }
  
  .flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
  }
  
  .flickity-prev-next-button:active {
    filter: alpha(opacity=60); /* IE8 */
    opacity: 0.6;
  }
  
  .flickity-prev-next-button.previous { left: 10px; }
  .flickity-prev-next-button.next { right: 10px; }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  
  .flickity-prev-next-button:disabled {
    filter: alpha(opacity=30); /* IE8 */
    opacity: 0.3;
    cursor: auto;
  }
  
  .flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  
  .flickity-prev-next-button .arrow {
    fill: #333;
  }
  
  /* color & size if no SVG - IE8 and Android 2.3 */
  .flickity-prev-next-button.no-svg {
    color: #333;
    font-size: 26px;
  }
  
  /* ---- page dots ---- */
  
  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }
  
  .flickity-rtl .flickity-page-dots { direction: rtl; }
  
  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    filter: alpha(opacity=25); /* IE8 */
    opacity: 0.7;
    cursor: pointer;
  }
  
  .flickity-page-dots .dot.is-selected {
    filter: alpha(opacity=100); /* IE8 */
    opacity: 1;
    background: black;
  }

/* cell number */
    .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

/* Animations */

.vignets{
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
    -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}