.container-greg{
display: flex;
width: 100%;
}


/* TITLE BELGIQUE */

#title-belgique-greg{
padding-top: 5%;
width: 100%;
display: flex;
flex-direction: column;
}

#title-belgique-greg h1{
display: flex;
justify-content: center;
font-size: 120px;
color: #0DA4D3;
}

#title-belgique-greg p{
padding-top: 2%;
display: flex;
justify-content: center;
font-size: 35px;
margin-right: 20%;
margin-left: 20%;
}

#title-center-img-greg{
display: flex;
justify-content: center;
}

#title-center-img-greg img{
max-width: 100%;
}

@media (max-width:1350px){

#title-belgique-greg h1{
font-size: 40px;

}

#title-belgique-greg p{
font-size: 23px;
margin: 0;
}

}


/* PRESENTATION BELGIQUE */

#presentation-belgique-greg{
width: 100%;
display: flex;
flex-direction: column;
}

#presentation-belgique-greg h1{
display: flex;
justify-content: center;
font-size: 120px;
color: #0DA4D3;
}

#presentation-belgique-greg p{
padding-top: 1%;
font-size: 35px;
margin-right: 20%;
margin-left: 20%;
}


#presentation-belgique-greg ul{
padding-top: 1%;
font-size: 35px;
margin-right: 20%;
margin-left: 20%;
text-align: left;
}

@media (max-width:1350px){

#presentation-belgique-greg h1{
font-size: 40px;

}

#presentation-belgique-greg p{
padding-top: 3%;
font-size: 26px;
margin: 0;
}

#presentation-belgique-greg ul{
padding-top: 3%;
font-size: 26px;
margin: 0;

}

}

/* ARTICLE1 BELGGIQUE */

#article-1-belgique-greg{
width: 100%;
display: flex;
flex-direction: column;
}

#article-1-belgique-greg h1{
display: flex;
justify-content: center;
font-size: 120px;
color: #0DA4D3;
}

#article-1-belgique-greg p{
padding-top: 2%;
display: flex;
justify-content: center;
font-size: 35px;
margin-right: 20%;
margin-left: 20%;
}

#article-1-center-img-greg{
display: flex;
justify-content: center;
}

#article-1-center-img-greg img{
max-width: 100%;
}

@media (max-width:1350px){

#article-1-belgique-greg h1{
font-size: 40px;

}

#article-1-belgique-greg p{
padding-top: 3%;
font-size: 26px;
margin: 0;
}
}


/* ARTICLE2 BELGGIQUE */

#article-2-belgique-greg{
width: 100%;
display: flex;
flex-direction: column;
}

#article-2-belgique-greg h1{
display: flex;
justify-content: center;
font-size: 120px;
color: #0DA4D3;
}

#article-2-belgique-greg p{
padding-top: 2%;
display: flex;
justify-content: center;
font-size: 35px;
margin-right: 20%;
margin-left: 20%;
}

#article-2-center-img-greg{
display: flex;
justify-content: center;
}

#article-2-center-img-greg img{
max-width: 100%;
}

@media (max-width:1350px){

#article-2-belgique-greg h1{
font-size: 40px;

}

#article-2-belgique-greg p{
padding-top: 3%;
font-size: 26px;
margin: 0;
}
}

/* ARTICLE3 BELGGIQUE */

#article-3-belgique-greg{
width: 100%;
display: flex;
flex-direction: column;
}

#article-3-belgique-greg h1{
display: flex;
justify-content: center;
font-size: 120px;
color: #0DA4D3;
}

#article-3-belgique-greg p{
padding-top: 2%;
display: flex;
justify-content: center;
font-size: 35px;
margin-right: 20%;
margin-left: 20%;
}

#article-3-center-img-greg{
display: flex;
justify-content: center;
}

#article-3-center-img-greg img{
max-width: 100%;
}

@media (max-width:1350px){

#article-3-belgique-greg h1{
font-size: 40px;

}

#article-3-belgique-greg p{
padding-top: 3%;
font-size: 26px;
margin: 0;
}
}
        

