html{scroll-behavior: smooth;}
 
*{
    margin: 0px;
    padding: 0px;
}

.r-container{
    width: 100%;
    height: 100%;
    position: relative;
}

video:focus{
    outline: none;
}

*{
  margin: 0px;
  padding: 0px;
}

.r-container{
  width: 100%;
  height: 100%;
  position: relative;
}

video:focus{
  outline: none;
}

iframe:focus{
  outline: none;
}

/* 404 */

#r-main404{
  background-repeat:no-repeat;
  background-color: #F7F7F7;
  font-family: 'Chewy', cursive;
}

#r-titre404{
  font-size: 10em;
  color: black;
}

#r-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#r-flex2{
  width: 50%;
}

#r-flex3{
  width: 50%;
  text-align: center;
  padding-top: 10%;
}

#r-flex3 h2{
  font-size: 2em;
}

#r-flex3 h3{
  font-size: 1em;
  margin-top: 2%;
}

#r-flex3 h2,h3{
  color: black;
  padding-right: 2%;
  font-family: 'Knewave', cursive;
}
/*HEADER*/

/*Menu 3 niveaux*/

.m-content { 
    display: flex;
    justify-content: space-around;
    width:100%; 
    background-color:black;
    align-items: center;
    color:white;
    font-family:sans-serif;
    top: 0;
    position:fixed;
    z-index: 2;
}

.m-content h1{
    border-top:3px white solid;
    border-bottom:3px white solid;
    color:white;
}
 
#m-monmenu { margin-top; height:40px; }
 
#m-monmenu ul { list-style-type:none; }
#m-monmenu ul li { float:left; }

#m-monmenu ul li a { 
    display:block; 
    background-color:black;
    width:200px; 
    color:white; 
    line-height:40px;  
    text-align:center;
    text-decoration: none;
}

#m-monmenu ul li a:hover { background-color:grey;}
 
#m-monmenu ul ul { display:none; position:absolute;}
#m-monmenu ul ul.m-niveau2 { top:40px; left:0px; }
#m-monmenu ul ul.m-niveau2 li { float:none; }
#m-monmenu ul ul.m-niveau3 li { float:left; }
#m-monmenu ul ul.m-niveau3 { top:0px; left:200px; }
#m-monmenu li { position:relative; }
#m-monmenu li:hover ul.m-niveau2, #m-monmenu li li:hover ul.m-niveau3 { display:block; }

@media (max-width:1099px){
  .m-niveau1{
    display:none;
  }
}

/*Barre de recherche*/

#m-button{
    border-radius:30px;
    padding:2%;
    border:;
    float:left;
    width:80%;
}

#m-button, button:focus {outline:none;}

.m-search-container button{
    font-size: 15px;
    border: none;
    cursor: pointer;
    color:white;
    background-color: black;
    float:right;
    margin-top:3%;
}

.m-search-container button:hover {color:grey;}

@media (max-width:799px){
  .m-search-container{display:none;}
}

/*Menu latéral*/

.m-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.m-sidenav a, .m-dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.m-sidenav a:hover, .m-dropdown-btn:hover {
  color: #f1f1f1;
}

.m-dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.m-content .fa-caret-down {
  float: right;
  padding-right: 8px;
}


.m-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 32px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .m-sidenav {padding-top: 15px;}
  .m-sidenav a {font-size: 18px;}
}


@media (min-width:1099px){
  .m-sidenav,#menu-icon{display:none;}
}