/* MAIN BACK */

#back-top-aus{
    background-image: url("images/back-top-aus.jpg");
}

#back-aus-mid-bot{
    background-image: url("images/back-mid-aus.jpg");
    background-size: 100%;
}

body{
    background-color: rgb(198, 215, 231);
}

/* BANNER */

#r-banner-aus img{
    width: 100%;
    border: rgb(85, 85, 85) outset 3px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#r-titre-aus h1{
    font-size: 5em;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 5%;
}

/* GALERIE TABLEAU */

.table-aus-hr{
    width: 50%;
    height: 2px;
    color: rgb(78, 78, 78);
    background-color: black;
    border: rgb(73, 73, 73) solid 1px;
    margin-left: 25%;
}

.table-aus-hr:first-child{
    margin-top: 2%;
    margin-bottom: 2%;
}

.table-aus-hr:last-child{
    margin-top: 2%;
}

#table-aus{
    width: 75%;
    margin-left: 12.5%;
}

.td-cell-aus{
    width: 10%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.td-cell-aus:hover{
    -webkit-transform:scale(4);
    -moz-transform:scale(4);
    -ms-transform:scale(4);
    -o-transform:scale(4);
    transform:scale(4);
}

table tr td img{
    width: 100%;
    height: auto;
}

/* Article 1 */

.r-container-aus-art-2{
    width: 100%;
    display: flex;
    padding-top: 3%;
    padding-bottom: 2%;
}

#r-container-aus-art-2-gauche{
    width: 60%;
}

#r-container-aus-art-2-gauche img{
    width: 100%;
    margin-left: 10%;
    margin-top: 2%;
    border: black solid 2px;
    box-shadow: rgb(212, 211, 211) 0 0 100px;
}

#r-container-aus-article-2-droite{
    width: 20%;
    border: black outset 3px;
    background-color: white;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgb(212, 211, 211) 0 0 100px;
}

#r-container-aus-article-2-droite p{
    font-size: 1.5em;
    padding: 3%;
    font-family: 'Josefin Sans', sans-serif;
}

#r-container-aus-article-2-droite p:first-child{
    text-align: center;
    font-weight: bold;
}

#aus-article-2-droite-center-p{
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
}

#r-container-aus-article-2-droite p:last-child{
    text-align: center;
    margin-top: 3%;
}

/* Article 2 */

.r-container-aus-art-3{
    width: 100%;
    height: 800px;
    padding-top: 5%;
    padding-bottom: 5%;
}

#aus-article-3{
    width: 90%;
    height: 100%;
    margin-left: 4.9%;
    border: black solid 5px;
    border-radius: 15px;
}

#aus-article-3 iframe{
    width: 100%;
    height: 100%;
}

/* Article 3 */

.r-container-aus-art-4{
    width: 100%;
}

#aus-article-4{
    width: 75%;
    background-image: url("images/banner-bot-aus.jpg");
    background-size: 100%;
    margin-top: 3%;
    margin-left: 12%;
    border: rgb(90, 90, 90) solid 2px;
    border-radius: 15px;
}

#aus-article-4 a{
    text-decoration: none;
    color: white;
    padding-left: 12.5%;
    text-align: center;
    align-items: center;
    font-size: 5em;
    font-family: 'Josefin Sans', sans-serif;
}

#aus-article-4 a p{
    padding-bottom: 5%;
    box-shadow: black 20 20 20px;
}

/* Animations */

.vignets{
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
    -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}